body{
    margin: 0;
    padding: 0;
    background-image: url('../img/food.png');
    
}
ul{
    list-style: none;
}

.capa{
    width: 80%;
    height: 300px;
    background-image: url('../img/capa.jpg');
    background-position: center;
    background-size: cover;
}