body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

    border: 1px solid red;
    width: 1000px;
    height: 600px;
}

.quadrado2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}